<%- include('../partials/head') %>

<div class="index-page">
    <h1>Favorite Recipes</h1>
    <div class="recipe-grid">
        <% favorites.forEach(fav => { %>
            <div class="recipe-card">
                <a href="/recipes/<%= fav.recipe._id %>"><img src="<%= fav.recipe.img %>" alt="Image of <%= fav.recipe.title %>" ></a>
                <a href="/recipes/<%= fav.recipe._id %>"><h3><%= fav.recipe.title %></h3></a>
            </div>  
        <% }) %>
    </div>
</div>
    

</body>
</html>