<%- include('../partials/head') %>

    <div class="index-page">
        <h1>Recipes</h1>
        <div class="recipe-grid">
        <% foundRecipes.forEach(recipe=> { %>
            <div class="recipe-card">
                <a href="/recipes/<%= recipe._id %>"><img src="<%= recipe.img %>" alt="Image of <%= recipe.title %>" class="show-food-img index-img"></a>
                <a href="/recipes/<%= recipe._id %>"><h3><%= recipe.title %></h3></a>
                <% const isFavorited=favorites.some(fav=>
                fav.recipe.toString() === recipe._id.toString()
                ); %>
                <form action="/recipes/<%= recipe._id %>/favorites" method="POST">
                    <button type="submit" id="favBtn" class="fav-button <%= isFavorited ? 'liked' : '' %>" data-id="<%= recipe._id %>"> <i class="fa-solid fa-heart"></i></button>
                </form>
            </div>
            <% }) %>
        </div>
    </div>
    </body>
    </html>