<%- include('../partials/head') %>

<div class="show-page">
    <div class="show-header">
         <h1><%= foundRecipe.title %></h1>
    <% const isFavorited = favorites.some(fav =>
        fav.recipe.toString() === foundRecipe._id.toString()
        ); %>

        <form action="/recipes/<%= foundRecipe._id %>/favorite" method="POST">
            <button type="submit" id="favBtn" class="fav-button <%= isFavorited ? 'liked' : '' %>" data-id="<%= foundRecipe._id %>">
                <i class="fa-solid fa-heart"></i>
            </button>
        </form>
    </div>
   
    <div class="content-sections">
        <div class="left-section">
            <img src="<%= foundRecipe.img %>" alt="Image of <%= foundRecipe.title %>" class="index-img">
            <div class="instructions-box">
                <h3>Instructions</h3>
                <p><%= foundRecipe.instructions %></p>
            </div>
        </div>
    
        <div class="ingredients-box">
            <h3>Ingredients</h3>
            <pre><%= foundRecipe.ingredients.split(',').map((ingredient, index) => `${index + 1}. ${ingredient.trim()}`).join('\n') %></pre>
        </div>
    </div>
    
    
    <div class="owner-buttons">
          <% if(foundRecipe.owner._id.equals(user._id)) { %>
        <form action="/recipes/<%= foundRecipe._id %>?_method=DELETE" method="POST">
            <button type="submit" class="delete-button">Delete</button>
        </form>
        
        <a href="/recipes/<%= foundRecipe._id %>/edit"><button type="submit" class="update-button">update</button></a>
    <% } %>

     
    </div>

    <div class="comment-section">
        <h3>Leave a Comment</h3>
        <form action="/recipes/<%= foundRecipe._id %>/comments" method="POST">
            <textarea name="content"></textarea>
            <button type="submit">Post Comment</button>
        </form>
        <ul>
            <% foundRecipe.comments.forEach(comment => { %>
            <li><em><%= comment.author.username %></em> - <%= comment.content %> </li>
            <% }) %>
        </ul>
    </div>
</div>    
   
</body>
</html>